@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Bold-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Bold-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
.model-detail {
  margin: 1vh 0;
  width: 100%;
  background: #EBE6D6;
  padding: 1.5rem 3rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 0;
}
@media (max-width: 600px) {
  .model-detail {
    padding: 1rem 1rem;
  }
}
.model-detail span {
  font-size: 1.2rem;
}
.model-detail .edit-mode {
  display: flex;
  flex-direction: column;
}
.model-detail .edit-mode .edit-name {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.model-detail .edit-mode .edit-name label {
  margin-bottom: 0.3rem;
}
.model-detail .edit-mode .edit-name input {
  font-size: 1rem;
  padding: 0.2rem 0.2rem;
}
.model-detail .edit-mode .edit-name textarea {
  font-size: 1rem;
  padding: 0.2rem 0.2rem;
  width: 30vw;
  height: 30vh;
}
.model-detail .edit-mode .edit-description {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.model-detail .edit-mode .edit-description label {
  margin-bottom: 0.3rem;
}
.model-detail .edit-mode .edit-description input {
  font-size: 1rem;
  padding: 0.2rem 0.2rem;
}
.model-detail .edit-mode .edit-description textarea {
  font-size: 1rem;
  padding: 0.2rem 0.2rem;
  width: 30vw;
  height: 30vh;
}
.model-detail .edit-mode .edit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.model-detail .edit-mode .edit-buttons a {
  background-color: #163E6C;
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  color: #fff;
  font-weight: normal;
  border: none;
  transition: 0.2s;
  font-size: 1rem;
  cursor: pointer;
}
.model-detail .edit-mode .edit-buttons a:first-child {
  margin-right: 1rem;
}

/*# sourceMappingURL=index.css.map */
