@import '../../../assets/styles/var';
@import '../../../assets/styles/global';


.model-detail {
  @include main-style;
  border-radius: 10px;
  margin: 0;

  span {
    font-size: 1.2rem;
  }

  .edit-mode {
    display: flex;
    flex-direction: column;

    .edit-name {
      @include editable-fields;
      margin-bottom: 1rem;
    }
    .edit-description {
      @include editable-fields;
      margin-bottom: 1rem;
    }
    .edit-buttons {
      @include edit-buttons;
    }
  }
}