@import '../../../assets/styles/var';
@import '../../../assets/styles/global';


.vehicle-detail{
  @include main-style;
  border-radius: 10px;
  margin: 0;

  h1 {
    align-items: center;
  }

  .edit-mode {

    .edit-fields {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap:  .6rem;
      font-size: 1.1rem;
      margin-top: .5rem;

      label {
        font-weight: bold;
        text-align: right;
        width: 100%;
      }
      input {
        font-size: 1.1rem;
        width: 100%;
      }
    }

    .buttons {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;

      .delete-button {
        @include edit-buttons;
        margin-right: auto;

        a {
          background-color: $main-color2;
        }
      }

      .edit-buttons {
        @include edit-buttons;
      }
    }
  }

  .detail-container {
    font-size: 1.1rem;

    .detail-grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      @media (max-width: 770px) {
        grid-template-columns: 1fr;
      }
    }

    .model-container {
      position: relative;
      display: flex;
      justify-content: start;

      margin: 1rem 0;

      .model-info {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-right: 1.3rem;
        //margin: .5rem 0;
        //width: 60%;

        span:first-child {
          font-weight: bold;
        }

        .model-name {
          //margin-right: 3rem;
          margin-bottom: .2rem;
        }

        .model-sn {

        }
      }
    }

    .description {
      align-self: center;
      //width: 40%;
    }

    .detail {
      display: flex;

      .label {
        font-weight: bold;
        margin-right: .5rem;
      }
    }
  }

  .vehicle-detail-navigate {
    margin: 1rem 0;
    align-self: center;
    @include navigation;

  }
}