@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Bold-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Bold-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
.vehicle-detail {
  margin: 1vh 0;
  width: 100%;
  background: #EBE6D6;
  padding: 1.5rem 3rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 0;
}
@media (max-width: 600px) {
  .vehicle-detail {
    padding: 1rem 1rem;
  }
}
.vehicle-detail h1 {
  align-items: center;
}
.vehicle-detail .edit-mode .edit-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.6rem;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}
.vehicle-detail .edit-mode .edit-fields label {
  font-weight: bold;
  text-align: right;
  width: 100%;
}
.vehicle-detail .edit-mode .edit-fields input {
  font-size: 1.1rem;
  width: 100%;
}
.vehicle-detail .edit-mode .buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.vehicle-detail .edit-mode .buttons .delete-button {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: auto;
}
.vehicle-detail .edit-mode .buttons .delete-button a {
  background-color: #163E6C;
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  color: #fff;
  font-weight: normal;
  border: none;
  transition: 0.2s;
  font-size: 1rem;
  cursor: pointer;
}
.vehicle-detail .edit-mode .buttons .delete-button a:first-child {
  margin-right: 1rem;
}
.vehicle-detail .edit-mode .buttons .delete-button a {
  background-color: #D20A11;
}
.vehicle-detail .edit-mode .buttons .edit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.vehicle-detail .edit-mode .buttons .edit-buttons a {
  background-color: #163E6C;
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  color: #fff;
  font-weight: normal;
  border: none;
  transition: 0.2s;
  font-size: 1rem;
  cursor: pointer;
}
.vehicle-detail .edit-mode .buttons .edit-buttons a:first-child {
  margin-right: 1rem;
}
.vehicle-detail .detail-container {
  font-size: 1.1rem;
}
.vehicle-detail .detail-container .detail-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 770px) {
  .vehicle-detail .detail-container .detail-grid-container {
    grid-template-columns: 1fr;
  }
}
.vehicle-detail .detail-container .model-container {
  position: relative;
  display: flex;
  justify-content: start;
  margin: 1rem 0;
}
.vehicle-detail .detail-container .model-container .model-info {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 1.3rem;
}
.vehicle-detail .detail-container .model-container .model-info span:first-child {
  font-weight: bold;
}
.vehicle-detail .detail-container .model-container .model-info .model-name {
  margin-bottom: 0.2rem;
}
.vehicle-detail .detail-container .description {
  align-self: center;
}
.vehicle-detail .detail-container .detail {
  display: flex;
}
.vehicle-detail .detail-container .detail .label {
  font-weight: bold;
  margin-right: 0.5rem;
}
.vehicle-detail .vehicle-detail-navigate {
  margin: 1rem 0;
  align-self: center;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.vehicle-detail .vehicle-detail-navigate a {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  transition: 0.2s;
  padding: 0.3rem 0.7rem;
}
.vehicle-detail .vehicle-detail-navigate a.active {
  background-color: #163E6C;
  border-radius: 5px;
  color: #fff;
  font-weight: normal;
  cursor: default;
}
@media (hover: hover) and (pointer: fine) {
  .vehicle-detail .vehicle-detail-navigate a:not(.active):hover, .vehicle-detail .vehicle-detail-navigate a:not(.active):focus {
    scale: 1.5;
  }
}
@media (hover: none) and (pointer: coarse) {
  .vehicle-detail .vehicle-detail-navigate a:active {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
  }
}

/*# sourceMappingURL=index.css.map */
