@import '../../assets/styles/var';
@import '../../assets/styles/global';

main {
  @include main-style;

  nav {
    @include navigation;
  }

  table {
    margin-top: 1rem;
    position: relative;
    width: 100%;
    border-collapse: collapse;
    background-color:  white;

    thead {
      position: relative;
      background-color: $main-color3;
      font-weight: bold;
      font-size: 1.2rem;

      vertical-align: bottom;

      tr > td {
        //min-width: 120px;
        padding: 0 .3rem;
      }
    }

    tbody {
      tr > td {
        //text-align: center;
        padding-left: 1rem;
        font-size: 1.2rem;
      }

      tr:nth-child(odd) {
        background-color: rgba(235, 230, 214, 0.7);
      }

      tr:nth-child(even) {
        background-color: $main-color3;
      }

      tr + tr {
        border-top: .9rem solid transparent;
      }
    }
  }

  .not-results {
    display: flex;
    width: 100%;
    background-color: $main-color3;
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
  }

}