@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Bold-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("/src/assets/fonts/PT Astra Sans/PT-Astra-Sans_Bold-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
main {
  margin: 1vh 0;
  width: 100%;
  background: #EBE6D6;
  padding: 1.5rem 3rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  main {
    padding: 1rem 1rem;
  }
}
main nav {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
main nav a {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  transition: 0.2s;
  padding: 0.3rem 0.7rem;
}
main nav a.active {
  background-color: #163E6C;
  border-radius: 5px;
  color: #fff;
  font-weight: normal;
  cursor: default;
}
@media (hover: hover) and (pointer: fine) {
  main nav a:not(.active):hover, main nav a:not(.active):focus {
    scale: 1.5;
  }
}
@media (hover: none) and (pointer: coarse) {
  main nav a:active {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
  }
}
main table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}
main table thead {
  position: relative;
  background-color: #EBE6D6;
  font-weight: bold;
  font-size: 1.2rem;
  vertical-align: bottom;
}
main table thead tr > td {
  padding: 0 0.3rem;
  text-align: center;
}
main table thead tr > td .head-buttons {
  margin-bottom: 2rem;
}
main table thead tr > td .head-buttons .head-button-create {
  background-color: #163E6C;
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  color: #fff;
  font-weight: normal;
  border: none;
  transition: 0.2s;
  padding: 0.1rem 0.1rem;
  height: 1.4rem;
  cursor: pointer;
  font-size: 2rem;
  padding: 0 0.3rem;
}
main table tbody tr > td {
  padding-left: 0.5rem;
  font-size: 1.2rem;
}
main table tbody tr:nth-child(odd) {
  background-color: rgba(235, 230, 214, 0.7);
}
main table tbody tr:nth-child(even) {
  background-color: #EBE6D6;
}
main table tbody tr + tr {
  border-top: 0.9rem solid transparent;
}
main .not-results {
  display: flex;
  width: 100%;
  background-color: #EBE6D6;
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}

/*# sourceMappingURL=index.css.map */
