@import '../../assets/styles/var';
@import '../../assets/styles/global';

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  left: 0;

  padding: 1.5rem 3rem;
  background: $main-color3;
  z-index: 1001;

  @media screen and (max-width: 1150px) {
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 0;
  }

  &.scrolled {
    border-bottom: 1vh solid $white-color;
  }


  img.brand-logo {
    max-height: 60px;
    height: 5vw;
    cursor: pointer;
    order: 1;
  }

  h1.title {
    margin-right: 5rem;
    margin-left: 5rem;
    justify-self: center;
    order: 2;
    font-size: 2rem;

    @media screen and (max-width: 1150px) {
      order: 4;
      margin: 2vw;
      width: 100%;
      text-align: center;
    }
  }

  address {
    //margin-right: 5rem;
    order: 3;
    flex-wrap: nowrap;
    align-self: center;

    @media (max-width: 400px) {
      p a::after {
        content: '\A';
        white-space: pre;
      }
    }
  }

  .btn-login {
    @include button;
    order: 3;
    //flex-wrap: nowrap;

    @media (hover: hover) and (pointer: fine) {
      &:hover, &:focus {
        scale: 1.5;
      }
    }
    @media (hover: none) and (pointer: coarse) {
      &:active {
        background-color: $color-modal-background;
        border-radius: 5px;
      }
    }
  }
}